
@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("退出登录", "Logout")</h2>

@*<input type="button" id="btnCheckLogin" value="Check Login" />*@


<script type="text/javascript" src="~/Static/Js/Common/RegTool.js"></script>
<script type="text/javascript" src="~/Static/Js/Common/CheckLogin.js"></script>
<script type="text/javascript" src="~/Static/Js/Home.js"></script>