
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo BackStage Admin Site</title>
</head>
<body>
    <h1>已安全退出</h1>
</body>
</html>
