
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .mini-toolbar td {
        font-family: Verdana;
    }
</style>

<div class="mini-toolbar" style="padding: 2px; border-bottom:0;">
    <table style="width: 100%;">
        <tr>
            <td style="white-space: nowrap;">
                <label>UserName: </label>
                <input class="mini-textbox" id="txtUserName" maxlength="20" />&nbsp;&nbsp;
                <label>Ip: </label>
                <input class="mini-textbox" id="txtIp" maxlength="20" />&nbsp;&nbsp;
                <label>Start Time: </label>
                <input class="mini-datepicker" format="yyyy-MM-dd HH:mm:ss" timeFormat="HH:mm:ss" allowInput="false" showOkButton="false" showTime="true"
                       id="txtStartTime" style="width: 165px;" />&nbsp;&nbsp;
                <label>End Time: </label>
                <input class="mini-datepicker" format="yyyy-MM-dd HH:mm:ss" timeFormat="HH:mm:ss" allowInput="false" showOkButton="false" showTime="true"
                       id="txtEndTime" style="width: 165px;" />&nbsp;&nbsp;
                <a class="mini-button" iconCls="icon-search" onclick="onSearch()">Search</a>
            </td>
        </tr>
    </table>
</div>

<div class="mini-fit">

    <div id="datagrid1" class="mini-datagrid" style="width: 100%; height: 100%;"
         url="~/System/UserLoginLog/List" idField="Id" sizeList="[10,30,50]" pageSize="10" allowAlternating="true"
         allowResizeColumn="false" allowMoveColumn="false" showEmptyText="true" emptyText="暂无数据" autoLoad="false"
         onloaderror="onDataGridLoadError()">
        <div property="columns">
            <div type="indexcolumn" width="40"></div>
            <div field="UserName" width="140" headerAlign="center" allowSort="true" align="center">UserName</div>
            <div field="Ip" width="140" headerAlign="center" allowSort="true" align="center">Ip</div>
            <div field="Time" width="175" align="center" headerAlign="center" allowSort="true" dateFormat="yyyy-MM-dd HH:mm:ss" align="center">Time</div>
            <div field="Agent" width="auto">Agent</div>
        </div>
    </div>

</div>

<script type="text/javascript" src="~/Static/Js/System/UserLoginLog.js?ran=4"></script>